<html>
<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    Game ID: <input type="text" v-model="id"> <br/>
    Turn: <input type="text" v-model.number="turn"> <br/>
    <button onClick="createGame()">create game</button>
    <button @click="fetchField()">start game</button>

    <table border="1" style="min-width: 500px;min-height: 500px">
        <tr v-for="y of 9">
            <td v-for="x of 9" :style="'background-color:'+getColorOfPieceOnBoard(x, y)" @click="fetchAvailableDestinations(x, y)">{{ findNameOfPieceOnBoard(x, y) }}</td>
        </tr>
    </table>

    <table border="1">
        <thead>
            <tr>
                <td>移動元x</td>
                <td>移動元y</td>
                <td>移動先x</td>
                <td>移動先y</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="position in availableDestinations" @click="createAction('MOVE', selectedPosition.x, selectedPosition.y, position.x, position.y)">
                <td>{{ selectedPosition.x }}</td>
                <td>{{ selectedPosition.y }}</td>
                <td>{{ position.x }}</td>
                <td>{{ position.y }}</td>
            </tr>
        </tbody>

    </table>
</div>

</body>

<script>
    new Vue({
        el: "#app",
        data: {
            id: null,
            board: [],
            availableDestinations: [],
            selectedPosition: null,
            turn: 0
        },
        methods: {
            fetchField: function () {
                axios.get(`/games/${this.id}/turns/${this.turn}/field`)
                .then(response => {
                    console.log(response.data.board)
                    this.board = response.data.board
                })
                .catch(error => {
                  console.log(error);
                });
            },
            findNameOfPieceOnBoard: function (x, y) {
                const pieceOrNull = this.findPieceOnBoard(x, y)
                return !pieceOrNull ? "" : pieceOrNull.name
            },
            getColorOfPieceOnBoard: function (x, y) {
                const pieceOrNull = this.findPieceOnBoard(x, y)
                if (!pieceOrNull) {
                    return "white"
                }
                return pieceOrNull.isBlack ? "gray" : "white"
            },
            findPieceOnBoard: function (x, y) {
                return this.board.find(piece => {
                    return piece.position.x == x-1 && piece.position.y == y-1
                })
            },
            fetchAvailableDestinations: function (x, y) {
                x--
                y--
                axios.get(`/games/${this.id}/turns/${this.turn + 1}/availableDestinations?x=${x}&y=${y}`)
                .then(response => {
                    this.selectedPosition = { x: x, y: y }
                    this.availableDestinations = response.data
                })
                .catch(error => {
                  console.log(error);
                });
            },
            createAction: function (type, sourceX, sourceY, destinationX, destinationY, promotion = null) {
                axios.post(`/games/${this.id}/actions`, {
                    type,
                    sourceX,
                    sourceY,
                    destinationX,
                    destinationY,
                    promotion
                })
                .then(response => {
                    const result = response.data
                    if (result.isSuccess) {
                        this.turn = this.turn + 1
                        this.fetchField()
                        return
                    }
                    if (result.promotionOrNot) {
                        const promotion = confirm("成りますか？");
                        this.createAction(type, sourceX, sourceY, destinationX, destinationY, promotion)
                    }
                })
                .catch(error => {
                  console.log(error);
                });
            }
        },
        computed: {
        }
    })
    function createGame() {
        axios.post('/games')
        .then(response => {
          console.log(response);
        })
        .catch(error => {
          console.log(error);
        });
    }
</script>
</html>