<html>
<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    Game ID: <input type="text" v-model="id"> <br/>
    Turn: <input type="text" v-model.number="turn"> <br/>
    <button onClick="createGame()">create game</button>
    <button @click="fetchField()">start game</button>

    <table border="1" style="min-width: 500px;min-height: 500px">
        <tr v-for="y of 9">
            <td v-for="x of 9" :style="'background-color:'+getColorOfPieceOnBoard(x-1, y-1)" @click="clickOnBoard(x-1, y-1)">{{ findNameOfPieceOnBoard(x-1, y-1) }}</td>
        </tr>
    </table>
</div>

</body>

<script>
    new Vue({
        el: "#app",
        data: {
            id: null,
            board: [],
            availableDestinations: [],
            selectedPosition: null,
            turn: 0
        },
        methods: {
            clickOnBoard: function(x, y) {
                //移動可能場所に含まれる場合
                const availableDestinationOrNull = this.availableDestinations.find(position => position.x==x && position.y==y)
                const selectedPosition = this.selectedPosition
                if (selectedPosition !== null && availableDestinationOrNull !== null) {
                    this.createAction('MOVE', selectedPosition.x, selectedPosition.y, availableDestinationOrNull.x, availableDestinationOrNull.y)
                    return
                }
                //駒がある場合
                const existsPiece = !!this.findPieceOnBoard(x, y)
                if (existsPiece) {
                    this.fetchAvailableDestinations(x, y)
                }
            },
            fetchField: function () {
                axios.get(`/games/${this.id}/turns/${this.turn}/field`)
                .then(response => {
                    this.board = response.data.board
                })
                .catch(error => {
                  console.log(error);
                });
            },
            findNameOfPieceOnBoard: function (x, y) {
                const pieceOrNull = this.findPieceOnBoard(x, y)
                return !pieceOrNull ? "" : pieceOrNull.name
            },
            getColorOfPieceOnBoard: function (x, y) {
                const pieceOrNull = this.findPieceOnBoard(x, y)

                const includedAvailableDestinations = !!this.availableDestinations.find(position => position.x==x && position.y==y)
                if (includedAvailableDestinations) {
                    return "#FF9999"
                }

                if (!pieceOrNull) {
                    return "white"
                }
                return pieceOrNull.isBlack ? "gray" : "white"
            },
            findPieceOnBoard: function (x, y) {
                return this.board.find(piece => {
                    return piece.position.x == x && piece.position.y == y
                })
            },
            fetchAvailableDestinations: function (x, y) {
                axios.get(`/games/${this.id}/turns/${this.turn + 1}/availableDestinations?x=${x}&y=${y}`)
                .then(response => {
                    this.selectedPosition = { x: x, y: y }
                    this.availableDestinations = response.data
                })
                .catch(error => {
                  console.log(error);
                });
            },
            createAction: function (type, sourceX, sourceY, destinationX, destinationY, promotion = null) {
                this.availableDestinations = []
                this.selectedPosition = null
                axios.post(`/games/${this.id}/actions`, {
                    type,
                    sourceX,
                    sourceY,
                    destinationX,
                    destinationY,
                    promotion
                })
                .then(response => {
                    const result = response.data
                    if (result.isSuccess) {
                        this.turn = this.turn + 1
                        this.fetchField()
                        return
                    }
                    if (result.promotionOrNot) {
                        const promotion = confirm("成りますか？");
                        this.createAction(type, sourceX, sourceY, destinationX, destinationY, promotion)
                    }
                })
                .catch(error => {
                  console.log(error);
                });
            }
        },
        computed: {
        }
    })
    function createGame() {
        axios.post('/games')
        .then(response => {
          console.log(response);
        })
        .catch(error => {
          console.log(error);
        });
    }
</script>
</html>