<html>
<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    Game ID: <input type="text" v-model="id"> <button onClick="createGame()">create game</button><br/>
    Turn: <input type="text" v-model.number="turn"> <button @click="fetchField()">reload</button><br/>



    <br/><br/><br/>

    <table border="1">
        <tbody>
        <tr>
            <td v-for="pieceInHand in piecesInHandOfWhite" @click="fetchAvailableDestinationsToPut(pieceInHand.name)">
                {{ pieceInHand.name }}
            </td>
        </tr>
        </tbody>
    </table>

    <h3>{{ isBlackTurn ? "" : "★" }}White</h3>

    <table border="1" style="min-width: 500px;min-height: 500px">
        <tr v-for="y of 9">
            <td v-for="x of 9" :style="'background-color:'+getColorOfPieceOnBoard(x-1, y-1)" @click="clickOnBoard(x-1, y-1)" style="min-width: 50px; min-height: 50px">
                {{ findNameOfPieceOnBoard(x-1, y-1) }}
            </td>
        </tr>
    </table>

    <h3>{{ isBlackTurn ? "★" : "" }}Black</h3>

    <table border="1">
        <tbody>
            <tr>
                <td v-for="pieceInHand in piecesInHandOfBlack" @click="fetchAvailableDestinationsToPut(pieceInHand.name)">
                    {{ pieceInHand.name }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>

<script>
    new Vue({
        el: "#app",
        data: {
            id: null,
            board: [],
            piecesInHandOfBlack: [],
            piecesInHandOfWhite: [],
            availableDestinations: [],
            selectedPosition: null,
            selectedNameOfPieceInHand: null,
            turn: 0
        },
        methods: {
            clickOnBoard: function(x, y) {
                //移動可能場所に含まれる場合
                const availableDestinationOrUndefined = this.availableDestinations.find(position => position.x==x && position.y==y)
                const selectedPosition = this.selectedPosition
                const selectedNameOfPieceInHand = this.selectedNameOfPieceInHand
                this.cancelAction()

                if (!!availableDestinationOrUndefined) {
                    if (selectedPosition !== null) {
                        this.createAction('MOVE', selectedPosition.x, selectedPosition.y, availableDestinationOrUndefined.x, availableDestinationOrUndefined.y)
                        return
                    }
                    if (selectedNameOfPieceInHand !== null) {
                        this.createAction('PUT', null, null, availableDestinationOrUndefined.x, availableDestinationOrUndefined.y, null, selectedNameOfPieceInHand)
                        return
                    }
                }
                //駒がある場合
                const existsPiece = !!this.findPieceOnBoard(x, y)
                if (existsPiece) {
                    this.fetchAvailableDestinationsToMove(x, y)
                }
            },
            fetchField: function () {
                axios.get(`/games/${this.id}/turns/${this.turn}/field`)
                .then(response => {
                    this.board = response.data.board
                    this.piecesInHandOfBlack = response.data.piecesInHandOfBlack
                    this.piecesInHandOfWhite = response.data.piecesInHandOfWhite
                })
                .catch(error => {
                  console.log(error);
                });
            },
            findNameOfPieceOnBoard: function (x, y) {
                const pieceOrUndefined = this.findPieceOnBoard(x, y)
                return !pieceOrUndefined ? "" : pieceOrUndefined.name
            },
            getColorOfPieceOnBoard: function (x, y) {
                const pieceOrUndefined = this.findPieceOnBoard(x, y)

                const includedAvailableDestinations = !!this.availableDestinations.find(position => position.x==x && position.y==y)
                if (includedAvailableDestinations) {
                    return "#FF9999"
                }

                if (!pieceOrUndefined) {
                    return "white"
                }
                return pieceOrUndefined.isBlack ? "gray" : "white"
            },
            findPieceOnBoard: function (x, y) {
                return this.board.find(piece => {
                    return piece.position.x == x && piece.position.y == y
                })
            },
            fetchAvailableDestinationsToMove: function (x, y) {
                axios.get(`/games/${this.id}/turns/${this.turn + 1}/availableDestinationsToMove?x=${x}&y=${y}`)
                .then(response => {
                    this.selectedPosition = { x: x, y: y }
                    this.availableDestinations = response.data
                })
                .catch(error => {
                  console.log(error);
                });
            },
            fetchAvailableDestinationsToPut: function (nameOfPieceInHand) {
                this.cancelAction()
                axios.get(`/games/${this.id}/turns/${this.turn + 1}/availableDestinationsToPut?nameOfPieceInHand=${nameOfPieceInHand}`)
                .then(response => {
                    this.selectedNameOfPieceInHand = nameOfPieceInHand
                    this.availableDestinations = response.data
                })
                .catch(error => {
                  console.log(error);
                });
            },
            createAction: function (type, sourceX, sourceY, destinationX, destinationY, promotion = null, nameOfPieceInHand = null) {
                axios.post(`/games/${this.id}/actions`, {
                    type,
                    sourceX,
                    sourceY,
                    destinationX,
                    destinationY,
                    promotion,
                    nameOfPieceInHand
                })
                .then(response => {
                    const result = response.data
                    if (result.isSuccess) {
                        this.turn = this.turn + 1
                        this.fetchField()
                        return
                    }
                    if (result.promotionOrNot) {
                        const promotion = confirm("成りますか？");
                        this.createAction(type, sourceX, sourceY, destinationX, destinationY, promotion)
                    }
                })
                .catch(error => {
                  console.log(error);
                });
            },
            cancelAction: function () {
                this.selectedPosition = null
                this.selectedNameOfPieceInHand = null
                this.availableDestinations = []
            }
        },
        computed: {
            isBlackTurn: function() {
                return this.turn % 2 == 0
            }
        }
    })
    function createGame() {
        axios.post('/games')
        .then(response => {
          console.log(response);
        })
        .catch(error => {
          console.log(error);
        });
    }
</script>
</html>